Resources:
  # Override the default EB security group ingress to restrict to your IP
  AWSEBSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      FromPort: 80
      ToPort: 80
      CidrIp: 108.222.192.40/32